{{!-- setup to have the template that Handlebars can render onto --}}

{{!-- create a button that will submit the user input into the database --}}


<h2>NOMNOM!</h2>

<h2>Add a Burger</h2>

<ul>
  	<li>
  	   <p>ID:</p>
       <p>Task:</p>
  	</li>
</ul>

<form>
	<textarea type="text" name="burger"></textarea>

	<button type="submit">Submit</button>
</form>